/* footer.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 150px; /* Ensure space for the footer */
}

.content-wrap {
    padding: 20px;
}

.page-logo {
    height: 400px; /* Adjust as necessary */
    width: 400px; /* Adjust as necessary */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #f9f9f9; /* Adjust background color as needed */
    border-top: 2px solid #e9e2e2; /* Adjust border color as needed */
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    font-size: 18px;
    color: green; /* Adjust heading color as needed */
    margin-bottom: 30px;
    position: relative;
}

.footer-column h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange; /* Adjust underline color as needed */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    display: block;
    transition: all 0.3s ease;
    color: green; /* Adjust link color as needed */
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.footer-column ul li a:hover {
    color: rgb(196, 202, 187); /* Adjust hover color as needed */
    padding-left: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin: 10px 10px;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 10px;
}

.footer-bottom p {
    color: black; /* Adjust text color as needed */
    font-size: 12px;
    border-top: 2px solid #e9e2e2; /* Adjust border color as needed */
    padding-top: 10px;
}

@media (max-width: 767px) {
    .footer-column {
        width: 50%;
        margin-bottom: 30px;
    }

    .page-logo {
        height: 250px; /* Adjust as necessary */
        width: 250px; /* Adjust as necessary */
        margin-left: 100px; /* Adjust margin as necessary */
    }

    .logo {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-column h4 {
        font-size: 15px;
    }

    .footer-column ul li a {
        font-size: 13px;
    }
}

@media (max-width: 574px) {
    .footer-column {
        width: 100%;
    }
}
